.latest-blogs-section-container {
    width: 100%;
    background-color: whitesmoke;
    padding-top: 80px;
    padding-bottom: 80px;
    @media screen and (max-width:1000px) {
        
    }

    .latest-blogs-heading {
        font-weight: bold;
        color: gray;
        width: 90%;
        margin: auto;
        font-size: 2rem;
        @media screen and (max-width:1000px) {
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
        }
    }

    .latest-blogs-wrapper {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        @media screen and (max-width:1000px) {
            width:100%;
            justify-content: space-around;
        }
    }
}